{% extends "base.html" %}

{% load static %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <p>Лучшие мобилы только у нас:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
  {% for item in phone_list %}
      <div class="col-md-4 mb-5">
        <h2>{{ item.name }}</h2>

        <a href="{{ item.get_absolute_url }}">

          {{ item.img|safe }}

        </a>
        <h3 style="margin-left:15%">{{ item.price|floatformat }} Р</h3>

          <a href="{% url 'cart' %}"> <button class="btn btn-secondary">Добавить в корзину</button></a>

      </div>
  {% endfor %}

  </div> <!-- /container -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">В продаже так же имеются ноутбуки</h1>
      <p>Вот что мы можем предложить:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
  {% for item in notebook_list %}
      <div class="col-md-4">
        <h2>{{ item.name }}</h2>

        <a href="{{ item.get_absolute_url }}">

          {{ item.img|safe }}e

        </a>
        <h3 style="margin-left:15%">{{ item.price|floatformat }} Р</h3>

          <a href="{% url 'cart' %}"> <button class="btn btn-secondary">Добавить в корзину</button></a>

      </div>
  {% endfor %}
    </div>
  </div> <!-- /container -->

</main>




{% endblock %}
